# http://editorconfig.org
root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.{json,yaml,yml}]
insert_final_newline = ignore

[*.{md,markdown}]
indent_size = 4
trim_trailing_whitespace = false
max_line_length = 100

[Makefile]
indent_size = 8
indent_style = tab

# My editor does a better job.  I just leave this for reference.
#[COMMIT_EDITMSG]
#max_line_length = 72
#insert_final_newline = false

[*.py]
indent_size = 4
#max_line_length = 79
max_line_length = 120

[.{pylint,coverage}rc]
max_line_length = 79

[{package.json,tox.ini}]
insert_final_newline = ignore

[**.min.js]
indent_style = ignore
insert_final_newline = ignore

[*.{sql,txt}]
max_line_length =

[*.{sh,bash}]
max_line_length = 120

[*.rst]
# Three spaces are used, by convention, because it lines up directives with their content.
#   https://cjolowicz.github.io/posts/hypermodern-python-05-documentation/#:~:text=Indentation%20is%20significant%2C%20like%20in%20Python.%20Three%20spaces%20are%20customary%2C%20because%20they%20line%20up%20directives%20with%20their%20content.
indent_size = 3
